html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #013770;
}

.content {
    height: 100%;
    z-index: -2;
}

.footer {
    position: fixed;
    z-index: -1;
    width: 0;
    bottom: 0;
    height: 150px;
    border-right: 2000px solid #001F3F;
    border-top: 150px solid transparent;
}

.main {
    margin: 50px 100px;
}

.cat-image {
    max-width: 200px;
    max-height: 200px;
    border: 8px solid white;
    margin-left: 25px;
}

p {
    font-size: 16pt;
    font-family: monospace;
    color: lightgrey;
    text-align: center;
}

.city-name {
    font-size: 20pt;
    font-family: monospace;
    color: white;
    text-align: center;
}

.info {
    font-size: 12pt;
    color: lightgrey;
}

.cat-wrapper {
    position: absolute;
    margin-left: 300px;
    width: 600px;
    float: left;
}

.cat-list {
    position: absolute;
    width: 300px;
}

.cat-list-saved {
    position: absolute;
    margin-left: 900px;
    width: 300px;
    float: left;
}

.cat-item {
    width: 80%;
    margin-bottom: 10px;
    padding: 3px;
    color: #333;
    font-family: monospace;
    font-size: 14pt;
    background-color: rgba(255,255,255,0.3);
}

button {
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-size: 14pt;
    border-style: solid;
    border-width: 3px;

    min-width: 250px;
    min-height: 50px;
    width: 250px;

    background: transparent;
    border-color: #FFF;
    color: #FFF;
    text-align: center;
    margin-top: 0;
}
